.main {
  padding: 40px;
  overflow-y: auto;
}

.video-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  border: white;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  margin-bottom: 40px;
  padding-bottom: 50px;
  padding-right: 25px;
  width: 500px;
}

.content-wrapper {
  display: flex;
  flex-direction: row; /* 가로 정렬 */
  align-items: flex-start;
}

.video-container {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff; /* Optional: Add a background color */
  margin-right: 50px;
}

.video-container video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button-container {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 버튼 간 간격 */
  margin-left: 10px;
}

.control-button {
  width: 24px;
  height: 24px;
  background-color: #000000; /* 버튼 배경색 */
  border: 1px solid #ccc; /* 버튼 테두리 */
  cursor: pointer;
  flex-direction: column;
}

.video-info {
  text-align: center;
  color: #000; /* Optional: Adjust text color */
  border-right: none;
}

body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.card-button {
  margin-top: 65px;
  margin-bottom: 70px;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.like-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.like-button.liked {
  background-color: #dc3545;
}
